# Ignore Python virtual environment directory
venv/

#Ignore datasets
preprocess/dataset
preprocess/merged_dataset
preprocess/cleaned_dataset

#Ignore datasets for GPT2-Nano and GPT2-Large
GPT2-Nano/data
GPT2-Large/data

#Ignore checkpoints
chkpt/

#Wandb API keys
wandbkey.env

#Wandb log files
wandb/

#data generated when measuring accuracy
measure_accuracy/outputs_from_model
measure_accuracy/ref

#ignore ds_store from max
.DS_Store
